<%- include('partial/header')%>

<h1>Ready to take quiz?</h1>
<a href="/question/1">YES</a>
<a href="/">NO</a>
<br />
<br />
<a href="/questions">Check All Questions</a>

<%- include('partial/footer')%>